<div class="codeM_container panel panel-default">
	<div class="panel-heading">
		<h4>代码管理</h4>
	</div>
	<div class="panel-body">
		<div class="codeM_step">
			<ul class="row">
				<li class="col-xs-2">
					<div class="codeM_stepNum">1</div>
				</li>
				<li class="col-xs-3">
					<div class="codeM_line"></div>
				</li>
				<li class="col-xs-2">
					<div class="codeM_stepNum active">2</div>
				</li>
				<li class="col-xs-3">
					<div class="codeM_line"></div>
				</li>
				<li class="col-xs-2">
					<div class="codeM_stepNum">3</div>
				</li>
			</ul>
		</div>
	</div>
</div>
