<!doctype html>
<html><!-- InstanceBegin template="/litanhua/yce/src/view/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>容器引擎</title>
	<!-- InstanceEndEditable -->
	<link rel="icon" sizes="any" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/html5shiv.js" type="text/javascript"></script>
	<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<!-- InstanceBeginEditable name="content" -->
<body class="index">
	<header class=" container-fluid affix">
		<a class="logo" href="#" target="_self"><img src="images/logo-100.png" height="100" width="100" alt="容器引擎管理平台" /></a><h1>容器引擎管理平台</h1>
	</header>
	<div id="container" class="index_container">
		<div class="container">
			<ul id="index_list" class="index_list">
				<li class="row">
					<div class="col-sm-6 col-sm-offset-3 index_list_item btn btn-success" data-url="code">
						<p>代码管理</p>
					</div>
				</li>
				<li class="row">
					<div class="col-sm-6 col-sm-offset-3 index_list_item btn btn-info" data-url="rollback">
						<p>镜像管理</p>
					</div>
				</li>
				<li class="row">
					<div class="col-sm-6 col-sm-offset-3 index_list_item btn btn-danger" data-url="monitor">
						<p>部署管理</p>
					</div>
				</li>
				<li class="row">
					<div class="col-sm-6 col-sm-offset-3 index_list_item btn btn-primary" data-url="topology">
						<p>监控管理</p>
					</div>
				</li>
				<li class="row">
					<div class="col-sm-6 col-sm-offset-3 index_list_item btn btn-warning" data-url="elastic">
						<p>用户管理</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<nav id="nav_fixed" class="nav_fixed affix pull-left container hidden-xs">
		<ul class="row">
			<li class="col-xs-8 col-xs-push-2">
				<a class="btn btn-purple" href="" target="_self">首页</a>
			</li>
			<li class="col-xs-8 col-xs-push-2">
				<a class="navTab btn btn-success" data-url="deploy">代码管理</a>
			</li>
			<li class="col-xs-8 col-xs-push-2">
				<a class="navTab btn btn-info" data-url="rollback">镜像管理</a>
			</li>
			<li class="col-xs-8 col-xs-push-2">
				<a class="navTab btn btn-danger" data-url="monitor">部署管理</a>
			</li>
			<li class="col-xs-8 col-xs-push-2">
				<a class="navTab btn btn-primary" data-url="topology">监控管理</a>
			</li>
			<li class="col-xs-8 col-xs-push-2">
				<a class="navTab btn btn-warning" data-url="elastic">用户管理</a>
			</li>
		</ul>
	</nav>
</body>
<!-- InstanceEndEditable -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- InstanceBeginEditable name="js" -->
<script>
$(function(){
	$(window).on('load resize',function(){
		calcSize($('#container > .panel'));
	});
	$('#index_list').on('click','.index_list_item',function(e){
		var $this = $(this);
		var arrTop = [],arrLeft = [],arrWidth = [];
		$('#index_list li').each(function(index, element) {
			arrTop.push($(element).offset().top);
			arrLeft.push($(element).offset().left-parseFloat($(element).css('margin-left')));
			arrWidth.push($(element).outerWidth());
		});
		$('#index_list li').each(function(index, element) {
			$(element).addClass('affix').css({
				'top':arrTop[index],
				'left':arrLeft[index],
				'width':arrWidth[index]
			});
		});
		$('#index_list li').stop().animate({
			top:'140px',
			left:0,
			height:0,
			width:0,
			opacity:0
		},1200,function(){
			$(this).hide();
			//$('#nav_display').stop().animate({marginLeft:0},300);
			$('#nav_fixed').stop().animate({left:0}, 300, function(){
				$('#container').load('./' + $this.attr('data-url') + '.html',function(){
					calcSize($('#container > .panel'));
				});
			});
		});
	});
	
	$('#nav_fixed a.navTab').on('click',function(){
		$('#container').load('./' + $(this).attr('data-url') + '.html');
	});
	
	
});
function calcSize(obj){
	if(obj.length > 0){
		console.log(obj.offset().top);
		obj.css('height',$(window).height() - parseFloat(obj.offset().top)-20);
	}
}
</script>
<!-- InstanceEndEditable -->
<!-- InstanceEnd --></html>
