<!doctype html>
<html><!-- InstanceBegin template="/litanhua/yce/src/view/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>易宝容器引擎</title>
	<!-- InstanceEndEditable -->
	<link rel="icon" sizes="any" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/html5shiv.js" type="text/javascript"></script>
	<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<!-- InstanceBeginEditable name="content" -->
<body class="login">
	<section class="login_container">
		<header class="container">
			<h1>易宝容器引擎</h1>
		</header>
	</section>
</body>
<!-- InstanceEndEditable -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- InstanceBeginEditable name="js" -->
<!-- InstanceEndEditable -->
<!-- InstanceEnd --></html>
